.fDefaultHeader{
    height: 100%;
    width: 100%;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);


}
#usForm:availableStudents{
    background: white;
}

.ui-layout-unit-header, .ui-widget-header ui-corner-all{
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend{
    background-color: transparent;
}

ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left ui-wizard-nav-back{
    top:0%;
}

.ui-layout-unit .ui-layout-unit-content
{
    padding: 0 !important;
}

.ui-layout-north{
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;

}

.ui-panelgrid{
    width: 100%;
}

#center{
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    text-align-last: justify;

}

#divLogoUnifil{
    top:50%;
}


#formCadastroUsuario{
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.1%;
    margin-bottom: 2%;
    width: 96%;  
    height: 95%;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
}

#formCadastroProjeto{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 70%;  
    height: 65%;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
}


.txtField_sessionComponent{
    position: relative;
    width: 80%;
}

.vinte-percent {
    position: relative;
    width: 20%;
}

.oitenta-percent {
    position: relative;
    width: 80%;
}

.top-alignment {
    vertical-align: top;
}

.cadastrarLabel{
    width: 10%;
}

.inputNomeProjeto{
    position: relative;
    width: 80%;
}
.inputColegiadoProjeto{
    width: 70%;
}

.txtField_sessionComponent2{

    width: 500px;

}

#txtSenhaLogin{
    position: relative;
    width: 60%;
}

#txtLogin{
    position: relative;
    width: 60%;
}


/*#txtEmailColegiado{
    width: 60%;
}*/

.txtEmailColegiado{
    position: relative;
    width: 50%;
}

.txtDataNascim{
    width: 110%;

}
.txtDataInicioProjeto{
    width: 110%;

}

#txtEmailSenha{
    width: 400px;
}

#formBtn{
    top:20px;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    width: 99%;
    margin-left: 0%;
    height: 20%;

}

.sessionTite{
    width: 30%;    
}


.txtTel{
    min-width: 25%;
    max-width: 25%;
}

.tctDataNasc{
    min-width: 18%;
    max-width: 18%;
}

.ui-panelgrid{
    border: none;
    border-collapse: separate;
}
#formClock{
    width: 20%;
}

#formAcesso{
    position: absolute;
    top:10%;
    padding: 5%;
    width: 70%;
    left: 8%;
    height: 45%;
    border-bottom: 0.5px solid lightslategrey;
    border-right: 0.5px solid lightslategrey;
    border-top: 0.5px solid lightslategrey;
    border-left:  0.5px solid lightslategrey;
    border-radius: 10px;
}
#divGlobal{
    padding: 7%;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    margin-left: 5%;
    margin-right:5%; 
    margin-top: 5%;
    border-radius: 10px;
}

#divSelectProject{
    position: relative;
    top:40px;
    right: 10%;

}


.btnIniciarSessao{
    position: relative;
    top:5px;
    left:5%;

}
.btnEncerrar{
    position: relative;
    top:5px;
    left:60%;

}


#panelAcesso{
    position: relative;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;

}

.txtHorario{
    width: 70%;
    font-size: 10px;
}

#divCentral{
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    padding: 0%;
}

#panelCentralLogin{
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    margin-top: 20%;
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 10%;
    font-size: 14px;

}

#labelLogin{
    position: relative;
    width: 5%;
    height: 10%;
    left: 30%;

}

#divLogoUnifilLogin{
    top:50%;
    -webkit-top:50%;
}

#SenhaLogin{
    top:20%;
    left: 30%;
    position: relative;
    margin-bottom: 15px;
    width: 20%;
    height: 40%;
}

.ui-priority-primary{
    width:  20%;
    background: yellow;
    left:80%;
    top:20px ;
    font-size: 15px;
}

#divCentralCadastroProjeto{
    position: relative;
    height: 60%;
    border-bottom: 0.5px solid lightslategrey;
    border-right: 0.5px solid lightslategrey;
    border-top: 0.5px solid lightslategrey;
    border-left:  0.5px solid lightslategrey;

}

.txtInputCadastroProjeto{
    width: 100%;
    margin-left: 30%;
}

#divSelecionarData{
    height: 100px;
    padding: 5%;
    background: lightgrey;
    border-bottom: 0.5px solid lightslategrey;
    border-right: 0.5px solid lightslategrey;
    border-top: 0.5px solid lightslategrey;
    border-left:  0.5px solid lightslategrey;;
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;

}


#divDataInicial{
    left: 15%;
    position: absolute;
    top: 20%;
    width: 25%;
    -webkit-left: 15%;
    -webkit-position: absolute;
    -webkit-top: 20%;
    -webkit-width: 25%;
}
#divDataFinal{
    left: 50%;
    position: absolute;
    top: 20%;
    width: 25%;
}
.doCadastroPnl{

    width: 100%; 
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
}

.btnAcessar{
    font-size: 12px;
    top:15px;
    left:39%;
}
.tbody{
    position: relative;
}

.panelCadastroUsuario{
    position: relative;
    width: 100%; 
    height: 100%;
}

.panelCadastroProjeto{
    position: relative;
    width: 100%;
    height: 40%
}



.facetNomeProjeto{
    background: white;
}
.formErro{
    background: #c4c4c4 repeat scroll 0 0;
    background-image: -webkit-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ;
    background-image: -moz-linear-gradient(left , rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0)) ; 
}